/* Basic Html */	
html {
	scroll-behavior: smooth;
	font-family: Arial;
}	
body {
	margin: 0;
	background-image: url("../bgdm.gif");
	/*background-color: #333333;*/
	color: #FFFFFF;
	font-family: 'Roboto Mono', monospace;
	user-select: none;
}
*:focus {
	outline: none;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}	
a:hover {
	color: #000000;
}
p {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 277%;
}
h2 {
	font-size: 156%;
}
h3 {
	font-size: 108%;
}
table, tr, th, td {
	border: none;
	border-collapse: collapse;
	vertical-align: top;
	table-layout: fixed;
	text-align: left;
	width: 100%;
}	
input:focus{
	outline: none;
}
button:focus{
	outline: none;
}	
.note {
	color: #FF0000;
}
	
/* Header */
.header {
	background-color: #004789;
	text-align: center;
	overflow: hidden;
	padding-top: 1%;
	z-index: 1;
}
.logo {
	height: auto;
	width: 17%;
}
.headerFade1 {
	font-size: 107%;
	background-color: #858585;
	width: 100%;
	height: 17px;
}
.headerFade2 {
	font-size: 107%;
	background-color: #858585;
	width: 100%;
	height: 10px;
}
.headerFade3 {
	font-size: 107%;
	background-color: #858585;
	width: 100%;
	height: 4px;
}
	
/* Navigation Bar */	
.topcontent {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 1;
}
.topnav {
	overflow: hidden;
	background-color: #000000;
}
.topnav a {
	float: right;
	color: #F2F2F2;
	text-decoration: none;
}	
.topnav a:hover {
	background-color: #444444;
	color: #FFFFFF;
}
.topnava {
	padding: 14px 16px;
}
 
/* Portrait */	
.me {
	width: 100%;
	height: auto;
}
	
/* Split Space Container */		
.splitSpaceContainer {
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #444444;
}	
.containerTitle {
	padding-left: 7%;
	padding: 7%;
}
.containerSeeMore {
	text-align: right;
	padding: 7%;
}
.paragraph {
	background-color: #FFFFFF85;
	margin-top: 10px;
	margin-right: 5px;
	padding: 20px;
	border-radius: 20px;
	width: 100%;
}
.selections {
	background-color: #FFFFFF55;
	margin-top: 10px;
	margin-right: 5px;
	padding: 20px;
	border-radius: 20px;
	width: 100%;
	min-height: 275px;
	max-height: 500px;
}
	
/* Art Gallery */	
#artgallery {
	width: 100%;
	padding-top: 15px;
}	
* {
	box-sizing: border-box;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 8px;
}
.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 8px;
}
.column img {
	margin-top: 3%;
	vertical-align: middle;
	width: 100%;
	height: auto;
	cursor: url;
}
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}
	
/* Audio Gallery */		
#audiogallery {
	width: 100%;
}
.column2 {
	flex: 50%;
	max-width: 50%;
	padding: 0 8px;
}	
#albumCover {
	max-width: 100%;
}	
input[type='range'] {
	-webkit-appearance: none !important;
	background: #11111150;
	height: 12px;
}	
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: #004789;
	height: 12px;
	width: 12px;
	border-radius: 100%;
}	
.time {
	background-color: #FFFFFF75;
	border-radius: 7px 7px 0px 0px;
	width: 100%;
	display: flex;
	padding: 1%;
}	
.seek {
	width: 50%;
}	
#seekslider {
	width: 100px;
	border-radius: 20px;
}	
.count {
	width: 50%;
	padding-right: 2%;
	text-align: right;
}
.controls {
	background-color: #11111175;
	border-radius: 0px 0px 7px 7px;
	padding: 1%;
	width: 100%;
	display: flex;
}
.buttons {
	width: 50%;
}
.ctrls {
	min-width: 5%;
	max-width: 7%;
	height: auto;
}
.volume {
	width: 50%;
	text-align: right;
}	
#volumeslider {
	width: 100px;
	border-radius: 20px;
}
	
/* Video Gallery */	
#videogallery {
	width: 100%;
}	
video {
	width: 100%;
	outline: none;
}
		
/* Tutorials */	
#tutorials {
	width: 100%;
	padding-top: 15px;
}
	
/* Site News */	
.news {
	margin: 0;
	width: 50%;
	background-color: #004789;
	color: #FFFFFF;
	padding: 3%;
	padding-left: 20%;
}	
.newsmarquee {
	margin: 0;
	float: right;
	width: 150%;
	background-color: #FFFFFF;
	color: #000000;
	padding: 3%;
}
	
/* Footer */	
#footer {
	position: relative;
	background-color: #333333;
	width: 100%;
	margin: 0;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
}	
hr {
	background-color: #757575;
	height: 2px;
	border: none;
}	
.links {
	color: #FFFFFF85;
}		
.sign {
	text-align: right;
	padding-bottom: 2%;
	margin: 0;
}