/* Basic Html */	
html {
	scroll-behavior: smooth;
}	
body {
	margin: 0;
	background-image: url("../Photos/Main/bg.gif");
	color: #FFFFFF;
	font-family: 'Roboto Mono', monospace;
	user-select: none;
}
*:focus {
	outline: none;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}	
a:hover {
	color: #000000;
}
p {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 235%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 100%;
}
table, tr, th, td {
	border: none;
	border-collapse: collapse;
	vertical-align: top;
	table-layout: fixed;
	text-align: left;
	width: 100%;
}
iframe {
	height: 600px;
	width: 100%;
}

/* Scroll Bar */	
::-webkit-scrollbar {
	width: 10px;
}  
::-webkit-scrollbar-track {
	background: #F2F2F2;
}  
::-webkit-scrollbar-thumb {
	background: #555555;
}
::-webkit-scrollbar-thumb:hover {
	background: #222222;
}

/* Social Bar */
.social {
	position: fixed;
	top: 87%;
	right: 0;
	transform: translateY(-87%);
}
.social a{
	display: block;
	text-align: center;
	padding: 20px;
}
.social a:hover{
	filter: brightness(50%)
}
.ig {
	background-image: url("../Photos/Main/ig.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.yt {
	background-image: url("../Photos/Main/yt.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.g {
	background-image: url("../Photos/Main/g.png");
	background-repeat: no-repeat;
	background-size: cover;
}

/* Site News */	
.news {
	margin: 0;
	height: 3vw;
	width: 25%;
	background-color: #004789;
	color: #FFFFFF;
	padding: .75vw 1vw 1vw 1vw;
	text-align: center;
	font-size: 1vw;
}	
.newsmarquee {
	margin: 0;
	height: 3vw;
	width: 175%;
	background-color: #FFFFFF;
	color: #ffffff;
	padding: 1vw;
	float: right;
	font-size: 1vw;
}

/* Navigation Bar */	
.navcontent {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}
.nav {
	overflow: hidden;
	background-color: hsl(0, 0%, 0%);
	height: 5vw;
}
.navr {
	float: right;
}
.navb {
	padding: 2vw;
	font-size: 2vw;
	height: 5vw;
	width: 15vw;
	text-align: center;
	padding: 1vw;
}
.nav a {
	float: left;
	color: #F2F2F2;
	text-decoration: none;
}	
.nav a:hover {
	background-color: #444444;
	color: #FFFFFF;
}
.logo {
	height: 3.5vw;
	width: 11vw;
	padding: 0vw;
}

/* Main */	
.main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.mA {
	flex: 40%;
}
.mB {
	flex: 60%;
  	clear: both;
	float: right;
}
.mI {
	width: 100%;
	vertical-align: middle;
}
.cypher {
	text-align: center;
	width: 100%;
	font-size: 3vw;
}
	
/* Split Space Container */		
.splitSpaceContainer {
	width: 100%;
	background-color: #444444;
	font-size: 2vw;
}
.split {
	width: 100%;
	padding-top: 1vw;
}
.containerTitle {
	padding: 2vw;
}
.containerSeeMore {
	text-align: right;
	padding: 2vw;
}
	
/* Art Gallery */	
* {
	box-sizing: border-box;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 8px;
}
.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 8px;
}
.column img {
	margin-top: 3%;
	vertical-align: middle;
	width: 100%;
	height: auto;
	cursor: url;
}
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}
	
/* Timer */
#timer {
	width: 100%;
	margin: 0;
	padding: 2% 2% 0 2%;
}

/* Footer */	
#footer {
	background-color: #333333;
	width: 100%;
	margin: 0;
	padding: 2% 2% 0 2%;
}
.sign {
	text-align: right;
	padding-bottom: 2%;
	margin: 0;
	font-size: 1vw;
}